/*Universal Styles*/

html, p {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

body {
  background-color: azure;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

/*Header, Nav, Banner Section Styles*/

header {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: center;
  height: 30rem;
}

nav {
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 1rem;
}

div.logo {
  padding-left: 1rem;
}

nav img {
  height: 1.5rem;
  padding: 1rem;
}

span.logo {
  margin: auto 0;
}

div.nav {
  padding-right: 1rem;
}

.nav-buttons {
  padding: 1rem;
  margin: 0;
}

.banner.container {
  width: 1032px;
}

.slogan {
  background-color: white;
  justify-content: center;
  position: relative;
  top: 10rem;
  width: 59%;
  margin-left: 41%;
}

.slogan h1 {
  padding: 1.5rem 5rem;
}

/* Services Section Styles */

.services {
  justify-content: space-around;
}

.item {
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  height: 8rem;
  max-width: 5rem;
}

.item img {
  max-width: 5rem;
  height: auto;
}

.item p {
  text-align: center;
}
